.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(174, 45, 45);
  
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-button {
  border: none;
  color: white;
  background-color: rgb(174, 45, 45);
  padding: 20px 10px;
}

.header-button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(174, 45, 45);
  transition: .4s;
}

.left-side {
  display: flex;
  align-items: flex-start;
}

.right-side {
  display: flex;
  justify-content: center;
  margin: 12px;
}

